@import "tailwindcss";

body {
  overflow: hidden;
  height: 100vh;
}

h1,
h4 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ::-webkit-scrollbar {
  display: none;
} */
